
<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">

  <h4 [ngStyle]="{color: getColor()}">Appareil  : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <a [routerLink]="[appareilId]">Détail</a> &nbsp;
  <button class="btn btn-sm btn-success"
          (click)="onSwitchOn()"
          [disabled]="appareilStatus === 'allumé'"
          >Allumer</button>&nbsp;
  <button class="btn btn-sm btn-danger"
          [disabled]="appareilStatus === 'eteint'"
          (click)="offSwitchOff()">Eteindre</button>
</li>
<!--
[()] Le two-way binding: emploie le mélange des syntaxes de property binding et d'event binding : des crochets et des parenthèses  [()]
-->
