<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>Mis à jour (attendre 2s : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
  <ul class="list-group">
    <app-appareil  *ngFor="let appareil of appareils; let i = index"
                   [indexOffAppareil]="i"
                   [appareilName]="appareil.name"
                   [appareilStatus]="appareil.status"
                   [appareilId]="appareil.id"></app-appareil>
  </ul>
  <button class="btn btn-success"
          (click)="onAllumer()">Tout allumer</button>&nbsp;
  <button class="btn btn-danger"
          (click)="onEteindre()">Tout éteindre</button>&nbsp;
  <button class="btn btn-primary"
          (click)="onSave()">Enregistrer les appareils</button>&nbsp;
  <button class="btn btn-primary"
          (click)="onFetch()">Charger</button>
</div>
