<div [ngClass]="{'bg-info': true}">
<h4> Afficher la couleur du text contenu dans la balise h4 suivant la couleur allumée ou eteint</h4>
<code>
  <p>[ngStyle]="{{'{'}}color: getColor()}" // dans AppareilComponent: return vert si allumé et rouge si eteint</p>
</code>

<h4> Appliquer des classes Bootstrap à la balise  li  en fonction du statut de l'appareil</h4>
<code>
  <p>[ngClass]="{{'{'}}'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}"</p>
</code>
<h4> Les pipe et async </h4>
  Ici async permet d'attendre 2s pour que date soit disponible avant d'appliquer le Pipe
  NB: async utilisé pour gerer les donnée asynchrone (data qui ne sont pas disponible imediatement
  <code>
    <p>Mis à jour : {{'{{ lastUpdate'}} | async | date: 'yMMMMEEEEd' | uppercase }}</p>
  </code>
</div>
